<div class="uk-section" style="text-align: center; margin-top: 60px">
  <input id="name" type="text" [formControl]="name" class="css-input" />
  <button
    (click)="onSave('ls')"
    style="
      background-color: black;
      border: none;
      border-radius: 5px;
      height: 52px;
      width: 50px;
      margin-left: 20px;
      color: white;
    "
  >
    SSH
  </button>
</div>

<img
  (click)="return()"
  src="./../../assets/images/left-arrow.png"
  alt=""
  style="width: 2%; margin: 3%"
/>

<!-- <p>Value: {{ name.value }}</p> -->
<div *ngFor="let item of quantity" class="uk-section uk-flex uk-padding-remove">
  <img
    (click)="onSavePath(item)"
    *ngIf="getExtension(item) == '0'"
    src="./../../assets/images/folder.png"
    alt=""
    style="width: 6%"
  />
  <img
    *ngIf="getExtension(item) != '0'"
    src="./../../assets/images/document.png"
    alt=""
    style="width: 6%"
  />
  <p>
    {{ item }}
  </p>
</div>
