body {
  background: rgb(252, 244, 233);
  background: linear-gradient(90deg, #fcf4e9 0%, #fcf7f0 100%);

  width: 100vw;
}

.css-input {
  padding: 14px;
  font-size: 26px;
  border-width: 0px;
  border-color: #ffffff;
  background-color: #ffffff;
  color: #000000;
  border-style: hidden;
  border-radius: 11px;
  box-shadow: -1px 3px 11px rgba(255, 200, 136, 0.75);
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}
.css-input:focus {
  outline: none;
}
